**Functions**

**Definition**

---

In [1]:
def my_function():
  print("Hello World")

my_function();

Hello World

**Invocation**

In [2]:
def squareOfNum(x):
    print(x*x)

for i in range(10):
    squareOfNum(i)

0
1
4
9
16
25
36
49
64
81

**Arguments**

In [3]:
def greet(name):
    print("Hello", name)

greet("Siddhant")

Hello Siddhant

**Keyword** **Arguments**

In [4]:
def cardetails(model, year):
    print("Model:", model)
    print("Year:", year)

cardetails("Techo", 2020)

Model: Techo
Year: 2020


**Default** **Arguments**

In [5]:
def calculateBill(product_name, price, discount = 0.1):
    print("Product:", product_name)
    print("Price: Rs.", price)
    print("Discount: Rs.", price*discount)

calculateBill("Jeans", 1200)

Product: Jeans
Price: Rs. 1200
Discount: Rs. 120.0

**Variable Length Arguments**

In [7]:
def avg(*nums):
    
    total = 0
    n = len(nums)
    
    for i in nums:
        total += i
 
    avg = total/n
    print("Average:", avg)
 
avg(78,55,33,90,900)

Average: 231.2


**pass Statement**

In [8]:
def func():
    pass

func()

**return Statement**

In [9]:
def cube(num):
    c = num ** 3
    return c

print(cube(2))

8


**Recursion**

In [10]:
def factorial(x):

    x = int(x)
    if x == 0:
        return 1
    
    else:
        return (x * factorial(x-1))


num = int(input("Enter a number : "))
print(f"The factorial of {num} is {factorial(num)}.")

Enter a number : 5
The factorial of 5 is 120.

**Special** **Functions**

**lambda** **Function**

In [11]:
sum = lambda a, b : a + b

print(sum(31, 25))

56

**map**() **Function**

In [12]:
numbers = (4,3,2,1) 
result = map(lambda x: x * 2, numbers)
print(list(result))

[8, 6, 4, 2]

 **zip**() **Function**

In [13]:
numbers = [1, 2, 3]
letters = ['a', 'b', 'c']

zipped = zip(numbers, letters)

print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c')]

**Decorators**

In [14]:

# Ordinary function
def ordinary():
    print("Ordinary Function")

# Decorating function
def prettify(func):
    def inner():
        print("*****************")
        func()
        print("*****************")
    return inner