**Lambda** **Function**

In [1]:
x = lambda a : a + 10
print(x(5))

15

In [2]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [3]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [4]:
tables = [lambda x=x: x*10 for x in range(1, 11)]

for table in tables:
	print(table())

10
20
30
40
50
60
70
80
90
100

In [5]:
Max = lambda a, b : x if(a > b) else b

print(Max(1, 2))

2